@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BarangApp.Service
@using BarangApp.Pages 
<CascadingAuthenticationState>
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <LayoutView Layout="@(routeData.PageType == typeof(Login) || routeData.PageType == typeof(Register) ? null : typeof(MainLayout))">
            <RouteView RouteData="@routeData" />
        </LayoutView>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Halaman tidak ditemukan.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>